
.custL-card{
  min-width: 400px;

  border-radius: 12px;
  box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  flex-direction: column;
  height: auto;
  color:white;
  margin: auto;
margin-top: 2%;}

.custL-title{   border-radius: 12px 12px 0px 0px ;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding:30px 15px;
  color:antiquewhite;

background-color:rgb(159, 156, 156) ;
width: 100%;}


.custL-body{
  background-color: #eae3e3  ;
  border-radius: 0px 0px 12px 12px;
  padding:30px 15px;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: auto;
  color:white;
  text-align: center;



  
  }






.custR-button{  background-color: rgba(6, 40, 14, 0.458);
    border: none;
    border-radius: 8px;
    padding: 20px;
    color: bisque;
  margin-left: -80%;}


  :hover.custR-button{
    background-color: lightgray;
    color: black;
  }
 :active.custR-button{
    background-color: rgb(19, 29, 39);
    color: white;
  }










  
  .custL-button{
    background-color: grey;
    border: none;
    border-radius: 8px;
    padding: 0px 20px;
    color: bisque;
  }
  :hover.custL-button{
    background-color: lightgray;
    color: black;
  }
 :active.custL-button{
    background-color: rgb(19, 29, 39);
    color: white;
  }

  