
.containerr{
    display: grid;
    grid-template-columns: repeat(2,50%);
   
}
.title{
  background-color: grey;
    padding: 50px;
    text-align: center;}

.item{
    padding: 10px;
   background-color: white;
}





  .custUpdate-button{
    background-color: grey;
    border: none;
    border-radius: 8px;
    padding: 0px 20px;
    color: bisque;
    margin-top: 20px;
  }
  :hover.custUpdate-button{
    background-color: lightgray;
    color: black;
  }
 :active.custUpdate-button{
    background-color: rgb(19, 29, 39);
    color: white;
  }



  .custL-del-button{
    margin: 0px 50px;
    background-color: rgb(255, 0, 0);
    border: none;
    border-radius: 8px;
    padding: 0px 20px;
    color: bisque;
  }
  :hover.custL-del-button{
    background-color: rgb(186, 45, 45);
    color: black;
  }
 :active.custL-del-button{
    background-color: rgb(163, 0, 0);
    color: white;
  }