
  
   .formdiv{
    padding-top: 20px;
    
    
        }

        .Form-alan{display: flex;}


  .form-cust{
    min-width: 500px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    flex-direction: between;
    height: auto;
    color:white;

 
    
    }
    .form-body{
      background-color: #eae3e3  ;
      border-radius: 0px 0px 12px 12px;
      padding:30px 15px;
      flex-direction: column;
      display: flex;
      height: 80vh;
      color:white;
  
  
   
      
      }

    .title-area{
      border-radius: 12px 12px 0px 0px ;
      align-items: center;
      flex-direction: column;
      display: flex;
      padding:30px 15px;
      color:antiquewhite;

background-color:rgb(159, 156, 156) ;
width: 100%;

    }
 
.button-div{

  margin-top: 450px;
  justify-content: space-between;
  width: 600px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}
  


    .button-cust{
  margin: auto;
      width: 180px;
      background-color:rgb(159, 156, 156) ;
      padding: 15px;
      border: 2px solid bisque;
      border-radius: 24px;
      color: white;
     
  }
    :hover.button-cust{
      background-color: rgb(122, 119, 119);
      color: bisque;
    }

    .button-cust:active{
      background-color: rgb(71, 46, 46);
      color: black;
    }
  
    .button-cust-delete{
      margin: auto;
      width: 180px;
      background-color:rgb(146, 0, 0) ;
      padding: 15px;
      border: 2px solid bisque;
      border-radius: 24px;
      color: white;
     
  }
    :hover.button-cust-delete{
      background-color: rgb(198, 0, 0);
      color: bisque;
    }

    .button-cust-delete:active{
      background-color: rgb(226, 121, 121);
      color:black;
    }
  





  
  .title-cust{color: white;}

  .error-message{color: red;}