
  
   .formdiv{
    padding-top: 20px;
    
    
        }


        .input-fd{
            justify-content: column;
            margin-bottom: 40px;
        }

  .form-fd{
    min-width: 500px;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 5px 20px 10px rgba(0, 0, 0, 0.2);
    height: auto;

 
    
    }
    .form-body-fd{
      background-color: #eae3e3  ;
      border-radius: 0px 0px 12px 12px;
      padding:30px 15px;
      flex-direction: column;
      display: flex;
      height: 80vh;
  
  
   
      
      }

    .title-area-fd{
      border-radius: 12px 12px 0px 0px ;
      align-items: center;
      flex-direction: column;
      display: flex;
      padding:30px 15px;

background-color:rgb(159, 156, 156) ;
width: 100%;

    }
 
.button-div-fd{

  margin-top: 15%;
  width: 600px;
  padding: 0px;
}
  


    .button-fd{
  margin: auto;
      width: 180px;
      background-color:rgb(159, 156, 156) ;
      padding: 15px;
      border: 2px solid bisque;
      border-radius: 24px;
      color: white;
     
  }
    :hover.button-fd{
      background-color: rgb(122, 119, 119);
      color: bisque;
    }

    .button-fd:active{
      background-color: rgb(71, 46, 46);
      color: black;
    }
  




  

  .error-message{color: red;}



  .textarea-fd{
    border: none;
    border-radius: 6px;
    margin: 10px 0px;
background-color: rgb(239, 236, 236);

  }


  @media screen and (max-width:600px){

    .button-div{
      margin-top: 15%;
      padding: 0px;
      flex-direction: column;
      
    }
      
  
    
        .button-fd{
          width: 180px;
          background-color:rgb(159, 156, 156) ;
          padding: 15px;
          border: 2px solid bisque;
          border-radius: 24px;
         
      }
  }
  
 .fd-nm{color: #f8d0d0;}




.select-fd{  border-radius: 6px;

border: 2px solid bisque;
color :grey;
padding: 5px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-bottom: 60px;}



.strong-fd{color: black}